* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 12px "Montserrat", sans-serif, serif;
}

:root {
  --lgrey: #f1f1f3;
  --grey: #878b98;
}

/* Page header  */

#header {
  background-color: var(--lgrey);
}
.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .page_header {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.header_logo {
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .header_logo {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.header_logo img {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 992px) {
  .header_menu {
    display: none;
  }
}

.header_menu_lists {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists {
    display: block;
    text-align: center;
  }
}
.header_menu_lists li {
  text-transform: uppercase;
  padding-right: 8px;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li {
    padding-top: 10px;
  }
}

.last_li {
  padding-right: 0 !important;
}

.header_menu_lists li a {
  color: #979ba5;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li a {
    color: #ffffff;
  }
}
.header_menu_lists li a:hover {
  color: #ffd078;
  text-decoration: underline;
}

/* Burger menu  */

.burger_menu_block {
  display: none;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .burger_menu_block {
    display: block;
  }
}

.burger_menu_box {
  background-color: #6e7f80;
  display: none;
  position: absolute;
  animation: myBurgerMenu 2s forwards;
}
@keyframes myBurgerMenu {
  from {
    width: 35%;
  }
  to {
    width: 100%;
  }
}
.burger_menu_box:hover {
  cursor: pointer;
  display: block;
}

.menu_btn {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0 20px;
}
.menu_btn:hover + .burger_menu_box {
  display: block;
}

.burger_icon {
  position: relative;
  margin: 10px 0;
}
.burger_icon,
.burger_icon:before,
.burger_icon:after {
  background-color: var(--grey);
  display: block;
  width: 30px;
  height: 3px;
}
.burger_icon:before,
.burger_icon:after {
  content: "";
  position: absolute;
}
.burger_icon:before {
  top: -8px;
}
.burger_icon:after {
  top: 8px;
}

/* Page wrapper section  */
.page_wrapper_section img {
  width: 100%;
}

/* Page main section  */

.main_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 992px) {
  .main_section {
    padding: 0 20px;
  }
}


@media screen and (max-width: 992px) {
  .main_title_box {
    max-width: 480px;
    margin: 0 auto;
  }
}
.main_title_txt {
  color: var(--grey);
  margin: 50px 0;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}



/* Page main info section  */

.main_info {
  display: flex;
}
@media screen and (max-width: 992px) {
  .main_info {
    flex-direction: column;
  }
}

.main_info_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .main_info_img_box {
    margin-bottom: 50px;
  }
}

.main_info_img_box img {
  border-radius: 10px;
  width: 480px;
}

@media screen and (max-width: 992px) {
  .main_info_img_box img {
    max-width: 100%;
  }
}

.main_info_block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 100px;
}
@media screen and (max-width: 992px) {
  .main_info_block:not(.reversed_info) {
    margin: 0 auto;
    align-items: center;
  }
}

.reversed {
  flex-direction: row-reverse;
  margin: 50px 0;
  
}
@media screen and (max-width: 992px) {
  .reversed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.reversed_info {
 margin: 0 100px 0 0;
}

@media screen and (max-width: 992px) {
  .reversed_info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main_info_title {
  text-transform: capitalize;
}

.main_info_txt {
  color: #878b98;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .main_info_txt {
   max-width: 480px;
   margin: 20px 0;
  }
}

.main_info_btn {
  width: max-content;
  background-color: #ffd078;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  line-height: 10px;
  padding: 15px 25px ;
  text-transform: uppercase;
  text-decoration: none;
  
  
}
.main_info_btn:hover {
  background-color: #ffd010;
}

.main_info_btn > a {
  text-decoration: none;
  color: #000000;
}

/* Page footer  */

.page_footer {
  background-color: #f1f1f3;
  display: block;
  margin-top: 100px;
}


.footer_div {
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .footer_div {
    width: 100%;
    padding: 0 20px;
  }
}

.footer_logo_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_logo_box {
    justify-content: flex-start;
  }
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_info {
    display: block;
    width: 100%;
  }
}

.footer_info_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .footer_info_left {
    display: block;
    width: 100%;
  }
}

.footer_contact {
  color: #878b98;
  text-transform: capitalize;
}

.footer_contact > b {
  color: #000000;
}

footer ul {
  color: #878b98;
  list-style: none;
  text-transform: capitalize;
  line-height: 20px;
}
@media screen and (max-width: 992px) {
  footer ul {
    display: none;
  }
}

footer li {
  cursor: pointer;
}
footer li:hover {
  color: #f0a427;
  text-decoration-line: underline;
}

.footer_contact,
footer ul,
.footer_info_right {
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .footer_info_right {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

.blockForIcons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .blockForIcons {
    justify-content: flex-start;
  }
}

.boxForIcons {
  background-color: #878b98;
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 992px) {
  .boxForIcons {
    margin-left: 10px;
  }
  .firstIconBox {
    margin-left: 0 !important;
  }
}

.footer_social_icon {
  color: #ffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.footer_social_icon:hover {
  color: #f0a427;
}

@media screen and (max-width: 992px) {
  .footer_social_icon {
    font-size: 19px;
  }
}

#fb {
  padding-left: 9px;
}
#tw {
  padding-left: 7px;
}
#ln {
  padding-left: 8px;
}
#insta {
  padding-left: 8px;
}
@media screen and (max-width: 992px) {
  #insta {
    padding-left: 7px;
  }
}
#you {
  padding-left: 5px;
}
@media screen and (max-width: 992px) {
  #you {
    padding-left: 4px;
  }
}

#pi {
  padding-left: 8px;
}

.copyright_txt {
  margin-top: 20px;
  color: #878b98;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  .copyright_txt {
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }
}
