* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 11px "Montserrat", sans-serif, serif;
}

/* Page header  */
.page_header {
  display: grid;
  grid-template-columns: auto auto;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page_header {
    display: block;
    width: 100%;
  }
}

.heder_logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .header_logo {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
  }
}

.page_logo_img {
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .page_logo_img {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
}

.header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header_menu {
    display: none;
  }
}

.header_menu_lists {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .header_menu_lists {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.header_menu_list {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header_menu_list {
    padding-top: 10px;
  }
}

.header_menu_list:not(.last) {
  padding-right: 8px;
}

.header_menu_list_link {
  color: #979ba5;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header_menu_list_link {
    color: #ffffff;
  }
}
.header_menu_list_link:hover {
  color: #ffd078;
  text-decoration: underline;
}
/* ____________________________ */

/* Burger menu  */

.burger_menu_block {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger_menu_block {
    display: block;
  }
}

.burger_menu_box {
  background-color: #6e7f80;
  display: none;
  height: auto;
  position: absolute;
  animation: myBurgerMenu 2s forwards;
}
@keyframes myBurgerMenu {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}
.burger_menu_box:hover {
  cursor: pointer;
  display: block;
}

.menu_btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background: none;
  border: 0;
}
.menu_btn:hover + .burger_menu_box {
  display: block;
}

.burger_icon {
  position: relative;
  margin: 10px;
}
.burger_icon,
.burger_icon:before,
.burger_icon:after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #878b98;
}
.burger_icon:before,
.burger_icon:after {
  content: "";
  position: absolute;
}
.burger_icon:before {
  top: -8px;
}
.burger_icon:after {
  top: 8px;
}
/* ____________________________ */
/* Page wrapper section  */
.responsive_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Page main section  */
.main_title_box {
  width: 60%;
  margin: 0 auto;
}
.main_title_txt {
  color: #878b98;
  padding-top: 80px;
  text-align: justify; /* For Edge */
  -moz-text-align-last: center; /* For Firefox prior 58.0 */
  text-align-last: center;
}

/* Page main info section  */
.main_info_box {
  padding: 4% 10%;
}

.main_info {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 40px 0;
}
@media screen and (max-width: 768px) {
  .main_info {
    display: grid;
    grid-template-columns: auto;
    padding: 15px 0;
  }
}

.reversed {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .reversed {
    display: grid;
    grid-template-columns: auto;
  }
}

.main_info_img_box {
  width: 160%;
}
@media screen and (max-width: 768px) {
  .main_info_img_box {
    width: 100%;
    padding-bottom: 20px;
  }
}

.main_info_img {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.main_info_block:not(.reversed_info) {
  padding-left: 70px;
}
@media screen and (max-width: 768px) {
  .main_info_block:not(.reversed_info) {
    padding-left: 0;
  }
}
.reversed_info {
  padding-right: 70px;
}

.main_info_title {
  text-transform: capitalize;
}

.main_info_txt {
  color: #878b98;
  padding: 15px 0;
  text-align: justify;
}

.main_info_btn {
  background-color: #ffd078;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
}
.main_info_btn:hover {
  background-color: #ffd010;
}

.main_info_btn > a {
  text-decoration: none;
  color: #000000;
}

/* Page footer  */

.page_footer {
  background-color: #f1f1f3;
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 100px;
}

.footer_logo_box {
  width: 64%;
  margin: 0 auto;
  padding: 10px 0;
}

.footer_info {
  display: flex;
  width: 64%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .footer_info {
    display: block;
  }
}

.footer_info_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .footer_info_left {
    display: block;
  }
}

.footer_contact {
  color: #878b98;
  text-transform: capitalize;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  .footer_contact {
    line-height: 30px;
  }
}
.footer_contact > b {
  color: #000000;
}

.footer_lists {
  color: #878b98;
  list-style: none;
  text-transform: capitalize;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  .footer_lists {
    display: none;
  }
}

.footer_li {
  cursor: pointer;
}
.footer_li:hover {
  color: #f0a427;
  text-decoration-line: underline;
}

.footer_info_right {
  position: absolute;
  right: 18%;
}
@media screen and (max-width: 768px) {
  .footer_info_right {
    display: grid;
    grid-template-columns: auto;
    width: 64%;
    margin-top: 20px;
  }
}

.footer_social {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .footer_social {
    justify-content: flex-start;
  }
}
.boxForIcons {
  background-color: #878b98;
  border-radius: 50%;
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin-left: 19px;
}
@media screen and (max-width: 768px) {
  .boxForIcons {
    margin-left: 10px;
  }
  .firstIconBox {
    margin-left: 0 !important;
  }
}

.footer_social_icon {
  color: #ffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.footer_social_icon:hover {
  color: #f0a427;
}

@media screen and (max-width: 768px) {
  .footer_social_icon {
    font-size: 19px;
  }
}

#fb {
  padding-left: 9px;
}
#tw {
  padding-left: 7px;
}
#ln {
  padding-left: 8px;
}
#insta {
  padding-left: 8px;
}
@media screen and (max-width: 768px) {
  #insta {
    padding-left: 7px;
  }
}
#you {
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  #you {
    padding-left: 4px;
  }
}

#pi {
  padding-left: 8px;
}

.copyright_txt {
  margin-top: 15px;
  color: #878b98;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .copyright_txt {
    letter-spacing: 0;
    text-align: left;
  }
}
