* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 12px "Montserrat", sans-serif, serif;
}

:root {
  --lgrey: #f1f1f3;
  --grey: #878b98;
}

/* Page header  */

#header {
  background-color: var(--lgrey);
}
.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .page_header {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.header_logo {
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .header_logo {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.header_logo img {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 992px) {
  .header_menu {
    display: none;
  }
}

.header_menu_lists {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists {
    display: block;
    text-align: center;
  }
}
.header_menu_lists li {
  text-transform: uppercase;
  padding-right: 8px;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li {
    padding-top: 10px;
  }
}

.last_li {
  padding-right: 0 !important;
}

.header_menu_lists li a {
  color: #979ba5;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li a {
    color: #ffffff;
  }
}
.header_menu_lists li a:hover {
  color: #ffd078;
  text-decoration: underline;
}

/* Burger menu  */

.burger_menu_block {
  display: none;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .burger_menu_block {
    display: block;
  }
}

.burger_menu_box {
  background-color: #6e7f80;
  display: none;
  position: absolute;
  animation: myBurgerMenu 2s forwards;
}
@keyframes myBurgerMenu {
  from {
    width: 35%;
  }
  to {
    width: 100%;
  }
}
.burger_menu_box:hover {
  cursor: pointer;
  display: block;
}

.menu_btn {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0 20px;
}
.menu_btn:hover + .burger_menu_box {
  display: block;
}

.burger_icon {
  position: relative;
  margin: 10px 0;
}
.burger_icon,
.burger_icon:before,
.burger_icon:after {
  background-color: var(--grey);
  display: block;
  width: 30px;
  height: 3px;
}
.burger_icon:before,
.burger_icon:after {
  content: "";
  position: absolute;
}
.burger_icon:before {
  top: -8px;
}
.burger_icon:after {
  top: 8px;
}

/* Page info section  */
.page_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px 0;
}
@media screen and (max-width: 992px) {
  .page_wrapper {
    width: 100%;
  }
}

.wrapper_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .wrapper_top {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.wrapper_top_left {
  line-height: 20px;
}
@media screen and (max-width: 992px) {
  .wrapper_top_left {
    width: 100%;
    margin-bottom: 20px;
  }
}

.bayron_title {
  text-transform: capitalize;
}
.bayron_title > span {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.title_info {
  color: var(--grey);
  text-transform: capitalize;
}

.wrapper_top_right {
  line-height: 20px;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .wrapper_top_right {
    width: 100%;
    text-align: left;
  }
}

.period {
  right: 0;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
}

.price {
  color: #2fcf83;
}

/* Wrapper big container */

.wrapper_main_img {
  position: relative;
}

.wrapper_main_img > img {
  width: 100%;
  border-radius: 10px;
}

.arrows_div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_arrow {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin-left: 10px;
}

.left_arrow:hover {
  background-color: #979ba5;
  color: #ffffff;
}

.left_arrow > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.right_arrow {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
}

.right_arrow:hover {
  background-color: #979ba5;
  color: #ffffff;
}

.right_arrow > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper_images {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 20px;
  justify-content: space-between;
}

.wrapper_image_box {
  margin: 20px 0;
}
.wrapper_image_box:hover {
  opacity: 0.7;
  cursor: pointer;
}
.wrapper_image_box > img {
  border-radius: 10px;
  max-width: 170px;
}
@media screen and (max-width: 992px) {
  .wrapper_image_box > img {
    max-width: 100%;
  }
}

/* Map and video block  */

#map_video {
  display: flex;
  position: relative;
}

.map_video_selects {
  position: relative;
}
.map_video_selects select {
  appearance: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 20px;
  margin: 20px 0;
  padding: 5px 20px;
  outline: none;
}
.map_video_selects::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px;
}

#videos {
  margin-left: 40px;
}

.map_div {
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .map_div {
    display: none;
  }
}

/* Page info section bottom  */
.page_info {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.futures_block,
.available_block {
  box-shadow: 0 0 15px rgb(33 33 33 / 20%);
  border-radius: 10px;
  margin-bottom: 20px;
}

.available_box,
.futures_box {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .available_box,
  .futures_box {
    max-width: 500px;
    margin: 0 auto;
  }
}

.futures_row,
.available_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 992px) {
  .available_row,
  .futures_row {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;

    /* justify-content: flex-start; */
  }
}

.futures_lists,
.available_lists {
  width: 100px;
  margin-top: 10px;
  list-style-type: none;
  line-height: 20px;
}

.wrapper_bottom_row {
  display: grid;
  grid-template-columns: 2fr 8fr;
}
@media screen and (max-width: 992px) {
  .wrapper_bottom_row {
    grid-template-columns: 2fr 5fr;
  }
} 


.wrapper_btn_box {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 992px) {
  .wrapper_btn_box {
    width: 200px;
  }
}



.wrapper_btn_box a {
  width: 100%;
  background-color: #f0a427;
  border-radius: 50px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  text-decoration: none;
  line-height: 20px;
  padding: 10px 40px;
}



.call::before {
  content: "\f232";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  display: block !important;
  cursor: pointer;
  position: absolute;
  left: 15px;
  font-size: 15px;
}

.viber_btn {
  margin-bottom: 10px;
}

.wrapper_bottom_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper_bottom_info {
    width: 100%;
    flex-grow: 2;
  }
}

.wrapper_bottom_info_top {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  color: var(--grey);
}

@media screen and (max-width: 992px) {
  .info_top_txt_part {
    display: none;
  }
}

.bottom_currency_txt {
  text-transform: capitalize;
  text-align: right;
  color: #000000;
  font-weight: bold;
}
@media screen and (max-width: 992px) {
  .bottom_currency_txt {
   text-align: left;
  }
}

.bottom_currency_price {
  color: #2fcf83;
  font-weight: bold;
}

.bottom_info_icons_box {
  background-color: #878b98;
  border-radius: 50%;
  display: inline-flex;
  width: 30px;
  height: 30px;
}

.info_rpv_txt_part{
  display: none;
  max-width: 300px;
  margin: 20px 0;
  line-height: 17px;
  color: #878b98;
}
@media screen and (max-width: 992px) {
  .info_rpv_txt_part {
   display: block;
  }
}



/* Page footer part */
.page_footer {
  background-color: #f1f1f3;
  display: block;
  margin-top: 100px;
}
@media screen and (max-width: 992px) {
  .page_footer {
    margin: 0;
  }
}

.footer_div {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .footer_div {
    max-width: 100%;
  }
}

.footer_logo_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_logo_box {
    justify-content: flex-start;
  }
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_info {
    display: block;
    width: 100%;
  }
}

.footer_info_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .footer_info_left {
    display: block;
    width: 100%;
  }
}

.footer_contact {
  color: #878b98;
  text-transform: capitalize;
}

.footer_contact > b {
  color: #000000;
}

footer ul {
  color: #878b98;
  list-style: none;
  text-transform: capitalize;
  line-height: 20px;
}
@media screen and (max-width: 992px) {
  footer ul {
    display: none;
  }
}

footer li {
  cursor: pointer;
}
footer li:hover {
  color: #f0a427;
  text-decoration-line: underline;
}

.footer_contact,
footer ul,
.footer_info_right {
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .footer_info_right {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

.blockForIcons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .blockForIcons {
    justify-content: flex-start;
  }
}

.boxForIcons {
  background-color: #878b98;
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 992px) {
  .boxForIcons {
    margin-left: 10px;
  }
  .firstIconBox {
    margin-left: 0 !important;
  }
}

.footer_social_icon {
  color: #ffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.footer_social_icon:hover {
  color: #f0a427;
}

@media screen and (max-width: 992px) {
  .footer_social_icon {
    font-size: 19px;
  }
}

#fb {
  padding-left: 9px;
}
#tw {
  padding-left: 7px;
}
#ln {
  padding-left: 8px;
}
#insta {
  padding-left: 8px;
}
@media screen and (max-width: 992px) {
  #insta {
    padding-left: 7px;
  }
}
#you {
  padding-left: 5px;
}
@media screen and (max-width: 992px) {
  #you {
    padding-left: 4px;
  }
}

#pi {
  padding-left: 8px;
}

.copyright_txt {
  margin-top: 20px;
  color: #878b98;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  .copyright_txt {
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }
}
