* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 12px "Montserrat", sans-serif, serif;
}

:root {
  --lgrey: #f1f1f3;
  --grey: #878b98;
}

/* Page header  */

#header {
  background-color: var(--lgrey);
}
.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .page_header {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.header_logo {
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .header_logo {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.header_logo img {
  width: 150px;
  height: auto;
}

@media screen and (max-width: 992px) {
  .header_menu {
    display: none;
  }
}

.header_menu_lists {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists {
    display: block;
    text-align: center;
  }
}
.header_menu_lists li {
  text-transform: uppercase;
  padding-right: 8px;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li {
    padding-top: 10px;
  }
}

.last_li {
  padding-right: 0 !important;
}

.header_menu_lists li a {
  color: #979ba5;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .header_menu_lists li a {
    color: #ffffff;
  }
}
.header_menu_lists li a:hover {
  color: #ffd078;
  text-decoration: underline;
}

/* Burger menu  */

.burger_menu_block {
  display: none;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .burger_menu_block {
    display: block;
  }
}

.burger_menu_box {
  background-color: #6e7f80;
  display: none;
  position: absolute;
  animation: myBurgerMenu 2s forwards;
}
@keyframes myBurgerMenu {
  from {
    width: 35%;
  }
  to {
    width: 100%;
  }
}
.burger_menu_box:hover {
  cursor: pointer;
  display: block;
}

.menu_btn {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0 20px;
}
.menu_btn:hover + .burger_menu_box {
  display: block;
}

.burger_icon {
  position: relative;
  margin: 10px 0;
}
.burger_icon,
.burger_icon:before,
.burger_icon:after {
  background-color: var(--grey);
  display: block;
  width: 30px;
  height: 3px;
}
.burger_icon:before,
.burger_icon:after {
  content: "";
  position: absolute;
}
.burger_icon:before {
  top: -8px;
}
.burger_icon:after {
  top: 8px;
}
/* ____________________________ */

/* Main block  */

.main_block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 992px) {
  .main_block {
    width: 100%;
    padding: 0 20px;
  }
}

.form_container {
  margin: 50px auto;
}

.form_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .form_top {
    flex-direction: column;
    padding: 0 10px;
  }
}

div[class*="_top_"] {
  padding: 10px 0;
}

.form_top ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 13px;
}

.form_top li:not(.fixed_li) {
  padding-left: 40px;
}

.form_top li > a {
  text-decoration: none;
  color: #979ba5;
}
.form_top li > a:not(.active):hover {
  color: #ffd078;
  border-bottom: 2px solid #ffd078;
}

.active {
  border-bottom: 2px solid #ffd078 !important;
}

#filterLiCurrency {
  appearance: none;
  color: grey;
  cursor:pointer;
  width: 70px;
  font-size: 13px;
  border: 1px solid #979ba5;
  border-radius: 100px;
  padding: 8px;
  outline: none;
  margin: 0 auto;
}

.currencyTop {
  position: relative;
}

.currencyTop::after {
  content: "\f0d7";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 5px;
  padding: 10px 5px;
  pointer-events: none;
  display: inline;
  color: grey;
  font-size: 13px;
}
.currencyTop:hover::after {
  color: #f39c12;
}

/* Form main section  */
.form_main {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .form_main {
    flex-direction: column;
  }
}

.form_main > div:nth-of-type(1) {
  flex-grow: 4;
}
.form_block > div {
  display: flex;
}

div[class*="search_row"] {
  justify-content: space-between;
  padding-right: 40px;
}

@media screen and (max-width: 992px) {
  div[class*="search_row"] {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    justify-content: center;
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  div[class*="search_row"] {
    grid-template-columns: auto;
  }
}

.selects_box_arrow,
.selects_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

@media screen and (max-width: 480px) {
  #price-second {
    margin-top: 20px;
  }
}



.selects_box_arrow > label,
.selects_box label {
  color: #979ba5;
  margin: 20px 0;
}

.selects_box_arrow select {
  appearance: none;
  background-color: transparent;
  outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selects_box_arrow select,
input {
  width: 170px;
  height: 35px;
  border: 1px solid var(--grey);
  border-radius: 20px;
  color: grey;
  padding: 10px;
  cursor: pointer;
  line-height: 1.1;
  outline: none;
}



.selects_box_arrow::after {
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px;
    pointer-events: none;
    display: inline;
    color: grey;
    font-size: 13px;
}
.selects_box_arrow:hover::after {
  color: #f39c12;
}

.price_box_input::after{
  content: "\f0dc";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 10px;
    pointer-events: none;
    display: inline;
    color: grey;
    font-size: 13px;
}
.price_box_input:hover::after {
  color: #f39c12;
}

/* ______________________ */

.form_main_right {
  display: flex;
  flex-direction: column;
}

.form_search_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
}
@media screen and (max-width: 992px) {
  .form_search_div {
    height: auto;
    align-items: center;
    margin-top: 30px;
  }
}
#search {
  background-color: #ffd078;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  width: 170px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 100px;
}
#search:hover {
  background-color: #fcb83a;
}

/* Information container  */

.info_container_block {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  margin: 20px 0;
}
@media screen and (max-width: 992px) {
  .info_container_block {
    display: grid;
    grid-template-columns: auto;
  }
}

.info_section_left {
  height: auto;
}

@media screen and (max-width: 992px) {
  .info_section_left {
    width: 100%;
    margin: 0 auto;
  }
}

.info_section_left > img {
  width: 480px;
  max-width: 100%;
  border-radius: 10px;
}

.info_section_right {
  display: grid;
  grid-template-columns: auto;
  width: 50%;
  padding: 0 20px;
}
@media screen and (max-width: 992px) {
  .info_section_right {
    width: 100%;
    padding: 10px 0;
  }
}

.info_heading_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .info_heading_row {
    margin-bottom: 20px;
  }
}

.info_header {
  font-size: 25px;
  text-transform: capitalize;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .info_header {
    font-size: 20px;
  }
}

.info_street_name {
  margin-top: 5px;
}

.info_street_link {
  color: #979ba5;
  font-size: 20px;
  text-decoration: none;
}
.info_street_link:hover {
  color: #ffd078;
}
@media screen and (max-width: 992px) {
  .info_street_link {
    font-size: 15px;
  }
}

.info_description_row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

p[class*="title"] {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.col_features_table {
  list-style: none;
  color: #979ba5;
  line-height: 20px;
}

span[class*="col_link_color"],
.price_currency {
  font-weight: bold;
  color: #3ad289;
}

.code_update {
  color: #979ba5;
  text-decoration: none;
}

.description_btn_box {
  position: relative;
}

.description_rent_btn {
  
  background-color: #ffd078;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;  
  position: absolute;
  right: 0;
  bottom: 0;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  
}
.description_rent_btn:hover {
  background-color: #fcb83a;
}
@media screen and (max-width: 992px) {
  .description_rent_btn {
    width: max-content;
    bottom: 0;
    margin-top: 20px;
  }
}

/* Page footer part */

.page_footer {
  background-color: #f1f1f3;
  display: block;
  margin-top: 100px;
}
@media screen and (max-width: 992px) {
  .page_footer {
    margin: 0;
  }
}

.footer_div {
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .footer_div {
    width: 100%;
    padding: 0 20px;
  }
}

.footer_logo_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_logo_box {
    justify-content: flex-start;
  }
}

.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .footer_info {
    display: block;
    width: 100%;
  }
}

.footer_info_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .footer_info_left {
    display: block;
    width: 100%;
  }
}

.footer_contact {
  color: #878b98;
  text-transform: capitalize;
}

.footer_contact > b {
  color: #000000;
}

footer ul {
  color: #878b98;
  list-style: none;
  text-transform: capitalize;
  line-height: 20px;
}
@media screen and (max-width: 992px) {
  footer ul {
    display: none;
  }
}

footer li {
  cursor: pointer;
}
footer li:hover {
  color: #f0a427;
  text-decoration-line: underline;
}

.footer_contact,
footer ul,
.footer_info_right {
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .footer_info_right {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

.blockForIcons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .blockForIcons {
    justify-content: flex-start;
  }
}

.boxForIcons {
  background-color: #878b98;
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 992px) {
  .boxForIcons {
    margin-left: 10px;
  }
  .firstIconBox {
    margin-left: 0 !important;
  }
}

.footer_social_icon {
  color: #ffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.footer_social_icon:hover {
  color: #f0a427;
}

@media screen and (max-width: 992px) {
  .footer_social_icon {
    font-size: 19px;
  }
}

#fb {
  padding-left: 9px;
}
#tw {
  padding-left: 7px;
}
#ln {
  padding-left: 8px;
}
#insta {
  padding-left: 8px;
}
@media screen and (max-width: 992px) {
  #insta {
    padding-left: 7px;
  }
}
#you {
  padding-left: 5px;
}
@media screen and (max-width: 992px) {
  #you {
    padding-left: 4px;
  }
}

#pi {
  padding-left: 8px;
}

.copyright_txt {
  margin-top: 20px;
  color: #878b98;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  .copyright_txt {
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }
}
